@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.container{
    margin: 0 auto;
    width: 40%;

}
h1{
    text-align: center;
}
form div{
    margin-top: 10px ;
}
.edit{
    display: block;
    width: 90%;
    outline: none;
    border: none;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}
.nation{
    
    width: 40%;
    outline: none;
    border: none;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}
button{
    margin-top: 10px;
    width: 150px;
    line-height: 30px;
    outline: none;
    border: none;
    background-color: coral;
    border-radius: 15px;
    font-size: 15px;
}
button:hover{
    background-color:greenyellow;
    transform: scale(1.05);
    transition: all 1s linear;
    font-size: 17px;
}
input:focus{
    background-color: azure;
}
p{
    padding: 0;
    margin: 0;
    color: red;
    font-weight: 100;
}
.loi{
    display: block;
    width: 90%;
    outline: none;
    border: none;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    
}
.success{
    display: block;
    width: 90%;
    outline: none;
    border: none;
    background-color:#B5FE83;
    padding: 10px;
    border-radius: 10px;
    
}
.natione{
    
    width: 40%;
    outline: none;
    border: none;
    background-color:#B5FE83;
    padding: 10px;
    border-radius: 10px;
}
