
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
html.body{
    font-family: 'Fira Sans', sans-serif;

}
.container{
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(232, 231, 231);
}
.container div{
    margin-top: 10px;
}
h1{
    color: chocolate;
    text-align: center;
}
form{
    width: 80%;
    margin: 0 auto;
}
.edit{
    width: 100%;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
}
button{
    background-color: blue;
    color: aliceblue;
    width: 150px;
    line-height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
}
p{
    color: red;
     font-size: 10px;
     font-weight: 400;
     padding: 0;
     margin: 0;
     
 }
 .error{
     width: 95%;
     padding: 10px;
     border: none;
     background-color: yellow;
     border-radius: 10px;
     outline: none;
 }
 .new{
     border-radius: 10px;
 }